{% extends 'base.html' %}

{% block content %}
    <div class="container text-center my-5">
        <div class="title">zipp<span>Links :)</span></div>
        <div class="selfhead mb-4">Your Shortened URL</div>
        {% if shortened_url %}
          <div class="alert alert-success url-box" role="alert">
          <a href="{{ shortened_url }}" target="_blank">{{ shortened_url }}</a>
          </div>
        {% elif error %}
          <div class="alert alert-danger" role="alert">
          {{ error }}
          </div>
        {% else %}
          <div class="alert alert-warning subtitle">
          Please enter a valid URL to shorten.
          </div>
        {% endif %}
        <a class= "return-btn" href="{% url 'index' %}">Shorten Another URL</a>
    </div>
    <script>
      const urlBox = document.querySelector('.url-box a');
      if (urlBox) {
        urlBox.addEventListener('click', function (e) {
          e.preventDefault();
          const url = this.href;
          navigator.clipboard.writeText(url).then(() => {
            alert("Shortened URL copied to clipboard!");
            window.open(url, '_blank');
          }).catch(err => {
            alert("Failed to copy. You can manually copy the link.");
          });
        });
      }
    </script>
{% endblock %}
