{% extends 'base.html' %}

{% block content %}
    <div class="container text-center my-5">
        <div class="title">zipp<span>Links :)</span></div>
        <div class="selfhead mb-4">Your Shortened URL</div>
        {% if shortened_url %}
          <div class="alert alert-success url-box" role="alert">
          <a href="{{ shortened_url }}" target="_blank">{{ shortened_url }}</a>
          </div>
        {% elif error %}
          <div class="alert alert-secondary" role="alert">
          <b>{{ error }}</b>
          </div>
        {% else %}
          <div class="alert alert-dark subtitle">
          Please enter a valid URL to shorten.
          </div>
        {% endif %}
        <a class= "return-btn" href="{% url 'index' %}">Shorten Another URL</a>
    </div>
{% endblock %}
